.wrapper {
  max-width: 1200px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    margin: 0 16px;
  }
}

@media screen and (min-width: 1400px) {
  .wrapper {
    margin: 0 auto;
  }
}

.title {
  margin-top: -16px;
}

.image:hover {
  cursor: pointer;
  opacity: 0.8;
}
