.horizontalContainer {
  display: flex;
  align-items: center;
  overflow-x: scroll;
}

.horizontalContainer img {
  width: 233px;
}

.horizontalWrapper {
  display: flex;
  width: 75%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .horizontalContainer {
    width: auto;
    height: 100vh;
    overflow: scroll;
  }

  .horizontalWrapper {
    width: 100%;
    height: 100%;
    align-items: center;
  }

  .horizontalContainer img {
    width: 324px;
  }
}
