.horizontalContainer {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100 - 140px);
}

.horizontalContainer::-webkit-scrollbar {
  display: none;
}

.horizontalWrapper {
  display: flex;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .horizontalContainer {
    width: auto;
    height: 100vh;
    overflow: scroll;
  }

  .horizontalWrapper {
    height: 100%;
    align-items: center;
  }

  .horizontalContainer img {
    width: 400px;
  }
}
