.navigation {
  width: 100%;
  padding: 16px;
  height: 128px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .navigation.fixed {
    position: fixed;
    height: 168px;
  }
}

.textLogo {
  color: white;
  font-size: 19px;
  letter-spacing: 2px;
  line-height: 20px;
  position: absolute;
  transform-origin: left top;
  transform: rotate(-90deg) translateX(-100%);
}

.backButton {
  position: absolute;
  left: 16px;
  bottom: 16px;
  color: white;
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}

.backButton p {
  font-size: 12px;
}

.backButtonIcon {
  width: 25px;
  margin-left: -4px;
}

.forwardButtonIcon {
  width: 25px;
  position: absolute;
  top: -3px;
  transform: scale(-1);
  margin-left: 8px;
}

.bottomLogo {
  font-size: 18px;
}

.menuMobile {
  color: white;
  text-align: right;
  font-size: 14px;
}

.menuLinksPages {
  text-align: right;
  position: absolute;
  line-height: 20px;
  right: 0;
  background: black;
  z-index: 1;
  margin-top: 16px;
  padding: 16px;
}

.menuLinksPages h1:hover {
  text-decoration: underline;
  cursor: pointer;
}

.menuLink {
  font-size: 14px;
  color: white;
  font-weight: 400;
}

.menuLinksPages .menuLink {
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .menuMobile {
    display: none;
  }
  .menuLinksPages {
    margin-top: 0;
    padding: 0;
    right: 16px;
  }
}

.leftAlignedMenuWrapper {
  display: none;
}

@media screen and (min-width: 768px) {
  .leftAlignedMenuWrapper {
    display: block;
    position: fixed;
    bottom: 16px;
    left: 16px;
    line-height: 18px;
  }
  .leftAlignedMenuWrapper h2 {
    margin-bottom: 4px;
    cursor: pointer;
  }

  .leftAlignedMenuWrapper h2:last-child {
    margin-bottom: 0;
  }

  .leftAlignedMenuWrapper h2:hover {
    text-decoration: underline;
  }

  .secondaryNavigationWrapper {
    position: relative;
  }
}
