.navigation {
  width: 100%;
  padding: 16px;
  height: 128px;
  position: relative;
}

/* .thing:after {
  position: absolute;
  content: '';
  background: url('../images/circle.svg');
  width: 150px;
  height: 150px;
  left: 18px;
  right: 0;
  top: -20px;
  background-size: 100%;
} */

@media screen and (min-width: 768px) {
  .navigation {
    height: 168px;
  }
  .navigation.fixed {
    position: fixed;
  }
}

.textLogo {
  color: white;
  font-size: 19px;
  letter-spacing: 2px;
  line-height: 20px;
  position: absolute;
  transform-origin: left top;
  transform: rotate(-90deg) translateX(-100%);
  cursor: pointer;
}

.backButton {
  position: absolute;
  left: 16px;
  bottom: 16px;
  color: white;
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}

.backButton p {
  font-size: 12px;
}

.backButtonIcon {
  width: 25px;
  margin-left: -4px;
}

.bottomLogo {
  font-size: 18px;
}

.menuMobile {
  color: white;
  text-align: right;
  font-size: 14px;
}

.menuLinksPages {
  text-align: right;
  position: fixed;
  right: 0;
  top: 0;
  background: black;
  z-index: 1;
  padding: 16px;
  width: 100%;
  margin-top: 0;
  height: 100vh;
  z-index: 10;
}

.list {
  margin-top: 32px;
}

.menuLink:hover {
  text-decoration: underline !important;
  cursor: pointer;
}

.menuLink {
  font-size: 32px;
  line-height: 46px;
  color: white;
  font-weight: 400;
}

.subLink {
  font-size: 18px;
  line-height: 32px;
}

.menuLinksPages .menuLink {
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .menuMobile {
    display: none;
  }
  .menuLinksPages {
    margin-top: 0;
    padding: 0;
    right: 16px;
    width: auto;
    margin-top: 0;
    height: auto;
  }
  .menuLink {
    font-size: 14px;
    line-height: 20px;
  }
  .subLink {
    font-size: 14px;
    line-height: 20px;
  }
  .list {
    margin-top: 16px;
  }
}

.leftAlignedMenuWrapper {
  display: none;
}

@media screen and (min-width: 768px) {
  .forwardButtonIcon {
    width: 25px;
    position: absolute;
    top: -3px;
    transform: scale(-1);
    margin-left: 8px;
    transition: margin-left 0.2s ease-in-out;
  }
  .leftAlignedMenuWrapper {
    display: block;
    position: fixed;
    bottom: 16px;
    left: 16px;
    line-height: 18px;
  }
  .leftAlignedMenuWrapper h2 {
    margin-bottom: 4px;
    cursor: pointer;
  }

  .leftAlignedMenuWrapper h2:last-child {
    margin-bottom: 0;
  }

  .leftAlignedMenuWrapper h2:hover .forwardButtonIcon {
    margin-left: 16px;
  }

  .secondaryNavigationWrapper {
    position: relative;
  }
}
