.details {
  margin: 16px;
  overflow-y: scroll;
}

html,
body {
  overflow: scroll;
}

@media screen and (min-width: 768px) {
  .details {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 1fr 1fr;
    max-width: 1240px;
    margin: 0 auto 16px auto;
  }
}

@media screen and (min-width: 1500px) {
  .details {
    max-width: 1400px;
    margin: 0 auto 16px auto;
  }
}

.desktop {
  display: none;
}

.title {
  color: white;
  text-transform: uppercase;
  margin-bottom: 16px;
  font-size: 18px;
}

.textContainer {
  height: 180px;
  overflow: hidden;
}

.readMore {
  text-decoration: underline;
  margin-top: 8px;
}

.expand {
  height: auto;
}

@media screen and (min-width: 768px) {
  .textContainer {
    height: auto;
  }
  .readMore {
    display: none;
  }
  .title {
    font-size: 32px;
  }
}

.video {
  width: 100%;
}

.transcript p {
  color: white;
  font-size: 14px;
}

.image {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .image {
    cursor: pointer;
    width: 100%;
    margin-bottom: 0;
  }
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
}

.detailsList {
  list-style: none;
  margin: 16px 0 16px 32px;
  padding: 0;
  position: relative;
}

.detailsList li {
  position: relative;
}

.detailsList li:before {
  content: '';
  position: absolute;
  left: -32px;
  top: 6px;
  border: white 1px solid;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
