.sidebarTitle {
  font-size: 19px;
  letter-spacing: 1px;
  font-weight: 400;
  text-align: right;
  text-transform: uppercase;
  color: white;
}

.price {
  margin-top: 0;
  font-size: 15px;
  letter-spacing: 1px;
  text-align: right;
  color: white;
}

.moreInfo {
  margin-top: 16px;
  font-size: 12px;
  text-decoration: underline;
  letter-spacing: 1px;
  text-align: right;
  color: white;
}

.sidebarContainer {
  display: none;
}

@media screen and (min-width: 768px) {
  .sidebarContainer {
    width: 30vw;
    max-width: 25vw;
    /* height: 168px; */
    position: absolute;
    bottom: 0;
    right: 0;
    line-height: 20px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
  }
  .sidebarWrapper {
    height: 100vh;
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .price {
    /* margin-top: -16px; */
    margin: 16px 0;
  }
}
