body {
  min-height: 100vh;
}

button {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --NavigationHeight: 40px;
  --fontSizeHeading: 19px;
  --fontSizePara: 12px;
  --lineHeightPara: 24px;
  --marginMedium: 24px;
  --marginLarge: 32px;
  --vh: 0px;
}

* {
  box-sizing: border-box;
}

html,
body {
  background: black;
}

p {
  margin: 0;
  padding: 0;
}

.fade-enter {
  opacity: 0;
  transform: scale(0.9);
}
.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
  transition-delay: 300;
}

@media screen and (min-width: 768px) {
  :root {
    --NavigationHeight: 100px;
    --fontSizeHeading: 48px;
    --fontSizePara: 16px;
    --marginMedium: 32px;
    --marginLarge: 48px;
  }
}

h1,
h2,
h3,
h4 {
  margin: 0;
  /* font-family: 'Montserrat', sans-serif; */
}

p,
li,
a {
  font-size: var(--fontSizePara);
  line-height: var(--lineHeightPara);
  color: white;
}

.video-wrapper {
  position: relative;
}

.video-wrapper {
  margin-right: 50vw;
}

.video-wrapper:nth-child(1) {
  margin-left: 16px;
}

.image-index-container {
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}

.video-container {
  width: calc(100vw - 32px);
}

.video-container video {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .video-container {
    width: 800px;
    margin-top: -30vh; /* THIS IS SHIT */
  }
  .video-wrapper:nth-child(1) {
    margin-left: calc(50vw - 200px); /* minus half with width of an video */
  }
}
